[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "piwheels"
url = "https://www.piwheels.org/simple"
verify_ssl = true

[dev-packages]

[packages]
curtsies = {index = "piwheels",version = "==0.3.0"}
adafruit-circuitpython-mpr121 = {index = "piwheels",version = "==2.0.1"}
google-cloud-texttospeech = {index = "piwheels",version = "==0.4.0"}
pygame = {index = "piwheels",version = "==1.9.4"}
Flask = {index = "piwheels",version = "==1.0.2"}
keyboard = {index = "piwheels",version = "*"}

[requires]
python_version = "3.6.5"
