<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href='/static/style.css' />
  <link rel="icon" href="/static/favicon.ico">
  <title>Touch experience</title>
</head>

<body>
  <div id="root">
    <header>
      <img src="/static/logo.png" alt="Hrbs logo">
      <h1>HRBS</h1>
    </header>
    <div class="d-flex flex-column">
      <a href="/pin-voices">Change voices</a>
    </div>
</body>

<script src="/static/app.js"></script>

</html>
